<a href="https://colab.research.google.com/github/Mikhail-068/Scoring/blob/master/VolkovKA/Pandas_%D1%81%D0%BA%D0%BE%D1%80%D0%B8%D0%BD%D0%B3_Good_%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Загрузка модуля pandas
import pandas as pd

In [ ]:
# из библиотеки google.colab импортируем класс files
from google.colab import files

# создаем объект этого класса, применяем метод .upload()
uploaded = files.upload()

Saving GoodClient.xlsx to GoodClient.xlsx

In [ ]:
data = pd.read_excel("GoodClient.xlsx", header=2)
dataB = data

In [ ]:
data

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
0,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-10-07,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-13,NaN,113018.48,0.0
1,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-11-06,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-02,NaN,9999.73,0.0
2,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-05,...,NaN,0.0,NaT,МФО,0.0,2016-04-14,NaT,NaN,5000.00,0.0
3,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-16,...,NaN,0.0,NaT,МФО,0.0,2016-05-12,NaT,NaN,5000.00,0.0
4,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-05-13,...,NaN,0.0,NaT,МФО,0.0,2016-06-11,NaT,NaN,5000.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167100,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-01-27,...,NaN,0.0,NaT,МФО,0.0,2023-02-11,NaT,NaN,15390.00,0.0
167101,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2022-09-30,...,NaN,0.0,NaT,МФО,0.0,2022-10-12,NaT,NaN,21300.00,0.0
167102,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-02-11,...,NaN,0.0,NaT,МФО,0.0,2023-03-13,NaT,NaN,14980.59,0.0
167103,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-03-13,...,NaN,0.0,NaT,МФО,0.0,2023-03-22,NaT,NaN,5999.18,0.0
167104,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-03-30,...,NaN,0.0,NaT,МФО,0.0,2023-03-30,NaT,NaN,0.00,0.0

In [ ]:
# count_row = data.shape[0]
# print("количество записей :")
# count_row
data.nunique()

region_name                               70
city_name                                747
population                               744
date of birth                           4353
gender                                     2
education                                  7
position                                  19
dt_nbki                                  398
id_nbki                                 5000
issued                                  4790
amount                                 25183
currency                                   2
type_credit                               17
status_credit                             12
period                                  6780
period_interest                         2256
psk                                    19212
balance                                72028
current_indebtedness                    1510
expired                                  737
days_overdue                            1708
next_payment                             949
last_payment                            3787
updated                                 2904
term_indebtedness_body_loan            11474
term_indebtedness_interest              5541
term_indebtedness_other                 2243
overdue_indebtedness_body_loan          4779
overdue_indebtedness_interest           3795
overdue_indebtedness_other              1814
actual_payments_24_Months               1716
volume_commitment                          1
amount_surety                             30
surety_period                             32
source_information                         8
maximum_amount_overdue_indebtedness     2680
date_credit_state                       3183
beginning_days_delinquency_counting     2779
type_debt                                  2
amount_principal_debt_repaid           31744
availability_support                       2
dtype: int64

In [ ]:
print("процент пучтых ячеек")
data.isna().sum() / data.shape[0]*100

процент пучтых ячеек

region_name                             0.013165
city_name                               0.013165
population                              0.013165
date of birth                           0.000000
gender                                  0.000000
education                              28.103887
position                                8.820801
dt_nbki                                 0.000000
id_nbki                                 0.000000
issued                                  0.026929
amount                                  0.026929
currency                                0.000000
type_credit                             0.038898
status_credit                           0.027528
period                                  0.026929
period_interest                        95.013315
psk                                     0.026929
balance                                 0.026929
current_indebtedness                    0.026929
expired                                 0.026929
days_overdue                           94.231770
next_payment                            0.026929
last_payment                           10.618473
updated                                 0.026929
term_indebtedness_body_loan             0.026929
term_indebtedness_interest              0.026929
term_indebtedness_other                 0.026929
overdue_indebtedness_body_loan          0.026929
overdue_indebtedness_interest           0.026929
overdue_indebtedness_other              0.026929
actual_payments_24_Months               0.026929
volume_commitment                      99.998205
amount_surety                           0.026929
surety_period                          99.980252
source_information                      0.026929
maximum_amount_overdue_indebtedness     0.026929
date_credit_state                       0.026929
beginning_days_delinquency_counting    90.607103
type_debt                              89.337243
amount_principal_debt_repaid            0.026929
availability_support                    0.026929
dtype: float64

In [ ]:
data.head()

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
0,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-10-07,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-13,NaN,113018.48,0.0
1,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-11-06,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-02,NaN,9999.73,0.0
2,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-05,...,NaN,0.0,NaT,МФО,0.0,2016-04-14,NaT,NaN,5000.00,0.0
3,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-16,...,NaN,0.0,NaT,МФО,0.0,2016-05-12,NaT,NaN,5000.00,0.0
4,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-05-13,...,NaN,0.0,NaT,МФО,0.0,2016-06-11,NaT,NaN,5000.00,0.0

In [ ]:
data.tail()

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
167100,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-01-27,...,NaN,0.0,NaT,МФО,0.0,2023-02-11,NaT,NaN,15390.00,0.0
167101,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2022-09-30,...,NaN,0.0,NaT,МФО,0.0,2022-10-12,NaT,NaN,21300.00,0.0
167102,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-02-11,...,NaN,0.0,NaT,МФО,0.0,2023-03-13,NaT,NaN,14980.59,0.0
167103,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-03-13,...,NaN,0.0,NaT,МФО,0.0,2023-03-22,NaT,NaN,5999.18,0.0
167104,Краснодарский край,ст.Тбилисская,25317.0,1959-10-08,Женский,СреднеТехническое,пенсионер,2023-04-12,40bf39a8-d928-11ed-b80d-3cfdfed12971,2023-03-30,...,NaN,0.0,NaT,МФО,0.0,2023-03-30,NaT,NaN,0.00,0.0

In [ ]:
data.isna().sum().sum()
proc = data.isna().sum().sum() / data.size
print("общий процент пустых ячеек")
print('{:.1%}'.format(proc))

общий процент пустых ячеек
15.1%

### Описательные статистики

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167105 entries, 0 to 167104
Data columns (total 41 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   region_name                          167083 non-null  object
 1   city_name                            167083 non-null  object
 2   population                           167083 non-null  float64
 3   date of birth                        167105 non-null  datetime64[ns]
 4   gender                               167105 non-null  object
 5   education                            120142 non-null  object
 6   position                             152365 non-null  object
 7   dt_nbki                              167105 non-null  datetime64[ns]
 8   id_nbki                              167105 non-null  object
 9   issued                               167060 non-null  datetime64[ns]
 10  amount                               167060 non-null  float64
 11  currency                             167105 non-null  object
 12  type_credit                          167040 non-null  object
 13  status_credit                        167059 non-null  object
 14  period                               167060 non-null  object
 15  period_interest                      8333 non-null    datetime64[ns]
 16  psk                                  167060 non-null  float64
 17  balance                              167060 non-null  float64
 18  current_indebtedness                 167060 non-null  float64
 19  expired                              167060 non-null  float64
 20  days_overdue                         9639 non-null    object
 21  next_payment                         167060 non-null  float64
 22  last_payment                         149361 non-null  datetime64[ns]
 23  updated                              167060 non-null  datetime64[ns]
 24  term_indebtedness_body_loan          167060 non-null  float64
 25  term_indebtedness_interest           167060 non-null  float64
 26  term_indebtedness_other              167060 non-null  float64
 27  overdue_indebtedness_body_loan       167060 non-null  float64
 28  overdue_indebtedness_interest        167060 non-null  float64
 29  overdue_indebtedness_other           167060 non-null  float64
 30  actual_payments_24_Months            167060 non-null  float64
 31  volume_commitment                    3 non-null       object
 32  amount_surety                        167060 non-null  float64
 33  surety_period                        33 non-null      datetime64[ns]
 34  source_information                   167060 non-null  object
 35  maximum_amount_overdue_indebtedness  167060 non-null  float64
 36  date_credit_state                    167060 non-null  datetime64[ns]
 37  beginning_days_delinquency_counting  15696 non-null   datetime64[ns]
 38  type_debt                            17818 non-null   object
 39  amount_principal_debt_repaid         167060 non-null  float64
 40  availability_support                 167060 non-null  float64
dtypes: datetime64[ns](9), float64(18), object(14)
memory usage: 52.3+ MB

In [ ]:
data.describe()

,population,amount,psk,balance,current_indebtedness,expired,next_payment,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_body_loan,overdue_indebtedness_interest,overdue_indebtedness_other,actual_payments_24_Months,amount_surety,maximum_amount_overdue_indebtedness,amount_principal_debt_repaid,availability_support
count,1.670830e+05,1.670600e+05,167060.000000,1.670600e+05,1.670600e+05,1.670600e+05,1.670600e+05,1.670600e+05,167060.000000,1.670600e+05,1.670600e+05,1.670600e+05,167060.000000,167060.000000,1.670600e+05,1.670600e+05,1.670600e+05,167060.000000
mean,2.117029e+05,2.239342e+04,317.177628,2.499625e+04,4.057929e+02,1.880645e+02,1.303574e+02,5.610124e+03,148.952992,8.647179e+01,1.292884e+03,4.032996e+02,77.918326,288.190183,2.066280e+02,5.148956e+02,1.723403e+04,0.002646
std,4.667561e+05,9.355534e+04,2100.120343,1.065992e+05,1.207059e+04,9.108185e+03,6.501820e+03,5.594361e+04,2013.728029,4.667246e+03,1.867708e+04,9.562795e+03,2597.934234,6909.498366,2.567453e+04,1.077796e+04,8.679360e+04,0.051369
min,3.237000e+03,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,3.259200e+04,5.000000e+03,237.250000,3.780000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,2.000000e+03,0.000000
50%,1.268050e+05,1.000000e+04,364.920000,9.260500e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,6.719920e+03,0.000000
75%,1.822910e+05,1.591992e+04,365.000000,1.798412e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,1.333009e+04,0.000000
max,5.383890e+06,1.309062e+07,844793.000000,1.377907e+07,2.125788e+06,2.125788e+06,2.125788e+06,6.298927e+06,182559.110000,1.258252e+06,2.622570e+06,1.430287e+06,500000.000000,979349.000000,6.418250e+06,1.572857e+06,1.367456e+07,1.000000

In [ ]:
data.describe(include=['O'])

,region_name,city_name,gender,education,position,id_nbki,currency,type_credit,status_credit,period,days_overdue,volume_commitment,source_information,type_debt
count,167083,167083,167105,120142,152365,167105,167105,167040,167059,167060,9639,3,167060,17818
unique,70,747,2,7,19,5000,2,17,12,6780,1708,1,8,2
top,Архангельская область,г. Северодвинск,Женский,СреднеТехническое,рабочий,c869eb53-ea1f-11ed-b80d-3cfdfed12971,RUB,Микрокредит,СчетЗакрыт,3999-12-31 00:00:00,1,Полностью,МФО,ПоОсновномуДолгу
freq,48147,46319,97065,50512,34782,882,167104,140573,127335,2585,2693,3,143408,17723

In [ ]:
# Отбор данных столбца period
# data['issued'].dtype
# data['issued'] > '2024-01-01'
# len(data[data['issued'] > '2024-01-01'])

# среднее значение кредитов по городам
df_groupby = data.groupby(['region_name', 'city_name']).agg('mean')
df_groupby1 = df_groupby[["amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupby1

<ipython-input-86-5e3639a84ccd>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupby = data.groupby(['region_name', 'city_name']).agg('mean')

                                          amount     psk    balance  \
region_name         city_name
Адыгея республика   г.Майкоп          44,406.260 120.767 48,328.029
Алтайский край      г.  Алтайское     24,512.679 153.167 33,778.570
                    г.  Горно-Алтайск 13,235.945 365.414 19,465.996
                    г.  Заринск        7,587.929 290.966  7,203.337
                    г. Алейск         11,106.809 264.776 21,840.601
...                                          ...     ...        ...
Ярославская область г. Ростов         14,881.179 327.868 14,648.362
                    г. Рыбинск        15,499.476 400.449 20,102.674
                    г. Углич          13,547.860 230.899 15,776.466
                    г.Данилов         11,022.861 215.162 15,882.871
                    г.Тутаев          11,689.812 289.687 10,908.731

                                       term_indebtedness_body_loan  \
region_name         city_name
Адыгея республика   г.Майкоп                            12,606.638
Алтайский край      г.  Алтайское                        8,464.216
                    г.  Горно-Алтайск                      554.061
                    г.  Заринск                            405.878
                    г. Алейск                              383.979
...                                                            ...
Ярославская область г. Ростов                            1,681.261
                    г. Рыбинск                           2,169.038
                    г. Углич                             2,546.098
                    г.Данилов                            4,852.859
                    г.Тутаев                               752.420

                                       term_indebtedness_interest  \
region_name         city_name
Адыгея республика   г.Майкоп                              134.002
Алтайский край      г.  Алтайское                         126.631
                    г.  Горно-Алтайск                      19.766
                    г.  Заринск                             0.000
                    г. Алейск                               0.000
...                                                           ...
Ярославская область г. Ростов                              22.657
                    г. Рыбинск                             31.565
                    г. Углич                               39.529
                    г.Данилов                              46.986
                    г.Тутаев                                8.493

                                       term_indebtedness_other  \
region_name         city_name
Адыгея республика   г.Майкоп                           201.833
Алтайский край      г.  Алтайское                       46.585
                    г.  Горно-Алтайск                   38.166
                    г.  Заринск                          0.000
                    г. Алейск                            0.000
...                                                        ...
Ярославская область г. Ростов                            1.125
                    г. Рыбинск                          10.491
                    г. Углич                             0.000
                    г.Данилов                           12.608
                    г.Тутаев                             0.012

                                       overdue_indebtedness_interest  \
region_name         city_name
Адыгея республика   г.Майкоп                               9,089.729
Алтайский край      г.  Алтайское                             71.585
                    г.  Горно-Алтайск                        266.060
                    г.  Заринск                              304.458
                    г. Алейск                                202.493
...                                                              ...
Ярославская область г. Ростов                                993.330
                    г. Рыбинск                               429.760
                    г. Углич                                   0.000
                    г.Данилов                                  0.000
                    г.Тутаев                                 203.789

                                       overdue_indebtedness_other  \
region_name         city_name
Адыгея республика   г.Майкоп                            1,812.958
Алтайский край      г.  Алтайское                          11.459
                    г.  Горно-Алтайск                      43.833
                    г.  Заринск                             0.000
                    г. Алейск                               9.349
...                                                           ...
Ярославская область г. Ростов                             149.214
                    г. Рыбинск                             60.709
                    г. Углич                                0.000
                    г.Данилов                               0.000
                    г.Тутаев                              206.679

                                       maximum_amount_overdue_indebtedness  \
region_name         city_name
Адыгея республика   г.Майкоп                                         0.000
Алтайский край      г.  Алтайское                                  653.869
                    г.  Горно-Алтайск                                0.000
                    г.  Заринск                                    857.935
                    г. Алейск                                        0.000
...                                                                    ...
Ярославская область г. Ростов                                        0.000
                    г. Рыбинск                                     455.946
                    г. Углич                                         0.000
                    г.Данилов                                        0.000
                    г.Тутаев                                         0.000

                                       amount_principal_debt_repaid
region_name         city_name
Адыгея республика   г.Майкоп                             34,214.764
Алтайский край      г.  Алтайское                        23,376.646
                    г.  Горно-Алтайск                    10,944.530
                    г.  Заринск                           5,653.960
                    г. Алейск                            14,241.106
...                                                             ...
Ярославская область г. Ростов                             7,222.754
                    г. Рыбинск                           14,776.897
                    г. Углич                             12,832.024
                    г.Данилов                            10,065.122
                    г.Тутаев                              7,934.215

[749 rows x 10 columns]

In [ ]:
#10 город в списке
mask = df_groupby['city_name'] == 'г.  Нижний Новгород'
temp = df_groupby1[mask]
temp

KeyError: ignored

In [ ]:
# "date of birth", "gender", "education", "position",

print("Группировка данных по пользователям среднее значенние")
df_groupbyManMean = data.groupby(['id_nbki']).agg('mean')
df_groupbyManMean = df_groupbyManMean[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyManMean

Группировка данных по пользователям среднее значенние

<ipython-input-87-c92466c676a6>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyManMean = data.groupby(['id_nbki']).agg('mean')

,amount,psk,balance,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_interest,overdue_indebtedness_other,maximum_amount_overdue_indebtedness,amount_principal_debt_repaid
id_nbki,,,,,,,,,,
0008e755-925c-11ed-b80d-3cfdfed12971,"38,720.580",298.075,"57,011.619",899.956,0.000,0.000,677.160,0.000,0.000,"46,756.637"
000c769f-1ee2-11ed-b80c-3cfdfed12971,"30,000.000",0.000,0.000,"28,439.665",0.000,0.000,0.000,0.000,"1,496.825",0.000
0015c085-d45a-11ec-b80c-3cfdfed12971,"21,901.818",87.340,"22,208.000","1,084.000",0.000,0.000,0.000,0.000,0.000,0.000
0045c6cc-c7c6-11ec-80cf-f4034344a6bd,"6,198.100",217.563,"6,457.000",0.000,0.000,0.000,0.000,54.300,0.000,0.000
00531501-c87b-11ed-b80d-3cfdfed12971,"13,766.062",270.187,"19,323.148","3,687.132",0.000,109.227,793.925,0.098,0.000,"12,087.864"
...,...,...,...,...,...,...,...,...,...,...
ff9bffd1-c49e-11ed-b80d-3cfdfed12971,"14,076.164",373.302,"18,486.965",403.161,0.000,0.000,0.000,0.000,0.000,"14,634.917"
ff9cc5f0-d05c-11ed-80cf-f4034344a6bd,"10,222.505",354.679,"10,003.102","1,006.404",107.413,0.000,736.940,3.068,0.000,"7,671.176"
ffc25918-da97-11ed-80cf-f4034344a6bd,"28,344.200",176.505,"16,117.659","15,963.630",565.026,0.000,0.000,0.000,0.000,"14,075.780"
ffe03f97-ba7c-11ed-b80d-3cfdfed12971,"24,056.797",335.601,"29,776.383","3,930.004",632.258,0.668,0.000,0.000,0.000,"17,901.438"
fffaab8b-d4f4-11ed-b80d-3cfdfed12971,"23,293.040",246.788,"9,601.934","1,802.571",186.629,0.000,46.177,7.095,0.000,"7,719.586"

In [ ]:
print("Группировка данных по пользователям сумма кредитов")
df_groupbyManSum = data.groupby(['id_nbki']).agg('sum')
df_groupbyManSum = df_groupbyManSum[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyManSum

Группировка данных по пользователям сумма кредитов

<ipython-input-89-26ef4f90849b>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyManSum = data.groupby(['id_nbki']).agg('sum')

,amount,psk,balance,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_interest,overdue_indebtedness_other,maximum_amount_overdue_indebtedness,amount_principal_debt_repaid
id_nbki,,,,,,,,,,
0008e755-925c-11ed-b80d-3cfdfed12971,"774,411.600","5,961.495","1,140,232.390","17,999.110",0.000,0.000,"13,543.210",0.000,0.000,"935,132.730"
000c769f-1ee2-11ed-b80c-3cfdfed12971,"60,000.000",0.000,0.000,"56,879.330",0.000,0.000,0.000,0.000,"2,993.650",0.000
0015c085-d45a-11ec-b80c-3cfdfed12971,"240,920.000",960.744,"244,288.000","11,924.000",0.000,0.000,0.000,0.000,0.000,0.000
0045c6cc-c7c6-11ec-80cf-f4034344a6bd,"61,981.000","2,175.630","64,570.000",0.000,0.000,0.000,0.000,543.000,0.000,0.000
00531501-c87b-11ed-b80d-3cfdfed12971,"316,619.420","6,214.297","444,432.410","84,804.040",0.000,"2,512.230","18,260.280",2.260,0.000,"278,020.870"
...,...,...,...,...,...,...,...,...,...,...
ff9bffd1-c49e-11ed-b80d-3cfdfed12971,"1,745,444.320","46,289.451","2,292,383.690","49,992.000",0.000,0.000,0.000,0.000,0.000,"1,814,729.740"
ff9cc5f0-d05c-11ed-80cf-f4034344a6bd,"541,792.780","18,798.009","530,164.380","53,339.410","5,692.870",0.000,"39,057.840",162.580,0.000,"406,572.340"
ffc25918-da97-11ed-80cf-f4034344a6bd,"283,442.000","1,765.050","161,176.590","159,636.300","5,650.260",0.000,0.000,0.000,0.000,"140,757.800"
ffe03f97-ba7c-11ed-b80d-3cfdfed12971,"3,800,973.970","53,024.966","4,704,668.450","620,940.690","99,896.730",105.520,0.000,0.000,0.000,"2,828,427.280"
fffaab8b-d4f4-11ed-b80d-3cfdfed12971,"489,153.830","5,182.554","201,640.610","37,854.000","3,919.200",0.000,969.710,149.000,0.000,"162,111.310"

In [ ]:
print("Группировка данных по Образованию и должности средние значения")
df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('mean')
df_groupbyEdnPosMean = df_groupbyEdnPosMean[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyEdnPosMean

Группировка данных по Образованию и должности средние значения

<ipython-input-90-11ee75334208>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('mean')

                                                      amount     psk  \
education     position
Высшее        военнослужащий                      46,981.495 266.091
              госслужащий                         20,108.242 333.012
              индивидуальный предприниматель (ип) 53,633.005 296.656
              муниципальный служащий              27,660.612 319.955
              пенсионер                           37,168.388 265.503
...                                                      ...     ...
Среднее       сотрудник малого бизнеса            18,524.743 318.262
              сотрудники крупного бизнеса         18,081.760 287.104
              специалист                          23,312.965 300.334
              технический специалист              13,493.268 286.449
УченаяСтепень госслужащий                         41,564.141 283.165

                                                     balance  \
education     position
Высшее        военнослужащий                      62,190.161
              госслужащий                         22,692.164
              индивидуальный предприниматель (ип) 57,602.888
              муниципальный служащий              27,566.688
              пенсионер                           41,405.833
...                                                      ...
Среднее       сотрудник малого бизнеса            17,188.147
              сотрудники крупного бизнеса         19,201.645
              специалист                          20,893.861
              технический специалист              21,088.350
УченаяСтепень госслужащий                         61,943.221

                                                   term_indebtedness_body_loan  \
education     position
Высшее        военнослужащий                                         9,816.076
              госслужащий                                            5,737.017
              индивидуальный предприниматель (ип)                   13,933.302
              муниципальный служащий                                 8,879.127
              пенсионер                                              7,564.443
...                                                                        ...
Среднее       сотрудник малого бизнеса                               5,899.004
              сотрудники крупного бизнеса                            5,435.114
              специалист                                             7,564.686
              технический специалист                                 1,248.559
УченаяСтепень госслужащий                                           11,742.289

                                                   term_indebtedness_interest  \
education     position
Высшее        военнослужащий                                          312.605
              госслужащий                                             133.021
              индивидуальный предприниматель (ип)                     215.857
              муниципальный служащий                                  112.658
              пенсионер                                               229.550
...                                                                       ...
Среднее       сотрудник малого бизнеса                                100.355
              сотрудники крупного бизнеса                              76.088
              специалист                                              142.932
              технический специалист                                    0.000
УченаяСтепень госслужащий                                             125.817

                                                   term_indebtedness_other  \
education     position
Высшее        военнослужащий                                       164.096
              госслужащий                                           39.716
              индивидуальный предприниматель (ип)                   69.030
              муниципальный служащий                                 9.956
              пенсионер                                             70.798
...                                                                    ...
Среднее       сотрудник малого бизнеса                              76.340
              сотрудники крупного бизнеса                          330.950
              специалист                                            45.490
              технический специалист                                 0.000
УченаяСтепень госслужащий                                            0.370

                                                   overdue_indebtedness_interest  \
education     position
Высшее        военнослужащий                                             277.856
              госслужащий                                                280.348
              индивидуальный предприниматель (ип)                        375.933
              муниципальный служащий                                     118.022
              пенсионер                                                  593.177
...                                                                          ...
Среднее       сотрудник малого бизнеса                                   477.310
              сотрудники крупного бизнеса                                423.105
              специалист                                                 315.714
              технический специалист                                       0.000
УченаяСтепень госслужащий                                                  0.000

                                                   overdue_indebtedness_other  \
education     position
Высшее        военнослужащий                                          105.521
              госслужащий                                              15.717
              индивидуальный предприниматель (ип)                      27.228
              муниципальный служащий                                   17.183
              пенсионер                                               180.501
...                                                                       ...
Среднее       сотрудник малого бизнеса                                104.534
              сотрудники крупного бизнеса                              31.713
              специалист                                               54.234
              технический специалист                                    0.000
УченаяСтепень госслужащий                                               0.000

                                                   maximum_amount_overdue_indebtedness  \
education     position
Высшее        военнослужащий                                                     0.000
              госслужащий                                                    1,250.924
              индивидуальный предприниматель (ип)                              144.229
              муниципальный служащий                                           528.997
              пенсионер                                                        841.190
...                                                                                ...
Среднее       сотрудник малого бизнеса                                         363.268
              сотрудники крупного бизнеса                                      750.604
              специалист                                                       568.546
              технический специалист                                         1,292.396
УченаяСтепень госслужащий                                                        0.000

                                                   amount_principal_debt_repaid
education     position
Высшее        военнослужащий                                         39,801.270
              госслужащий                                            15,592.897
              индивидуальный предприниматель (ип)                    43,459.522
              муниципальный служащий                                 19,972.128
              пенсионер                                              27,884.618
...                                                                         ...
Среднее       сотрудник малого бизнеса                               11,845.690
              сотрудники крупного бизнеса                            13,636.281
              специалист                                             14,337.458
              технический специалист                                 18,768.883
УченаяСтепень госслужащий                                            43,712.867

[90 rows x 10 columns]

In [ ]:
#для вывода в формате бе е-7
pd.options.display.float_format ='{:,.3f}'.format

print("Группировка данных по Образованию и должности общие")
df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('sum')
df_groupbyEdnPosMean = df_groupbyEdnPosMean[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyEdnPosMean

Группировка данных по Образованию и должности общие

<ipython-input-91-adf5af7fdf55>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('sum')

                                                           amount  \
education     position
Высшее        военнослужащий                       23,067,913.950
              госслужащий                          31,590,048.260
              индивидуальный предприниматель (ип)  54,705,664.900
              муниципальный служащий               26,969,096.320
              пенсионер                           203,348,250.960
...                                                           ...
Среднее       сотрудник малого бизнеса             76,099,643.820
              сотрудники крупного бизнеса          37,827,040.930
              специалист                           32,801,341.270
              технический специалист                1,038,981.610
УченаяСтепень госслужащий                           1,288,488.380

                                                            psk  \
education     position
Высшее        военнослужащий                        130,650.684
              госслужащий                           523,161.188
              индивидуальный предприниматель (ип)   302,589.366
              муниципальный служащий                311,955.669
              пенсионер                           1,452,565.377
...                                                         ...
Среднее       сотрудник малого бизнеса            1,307,419.757
              сотрудники крупного бизнеса           600,622.008
              специалист                            422,570.096
              технический специалист                 22,056.583
УченаяСтепень госслужащий                             8,778.124

                                                          balance  \
education     position
Высшее        военнослужащий                       30,535,369.120
              госслужащий                          35,649,390.060
              индивидуальный предприниматель (ип)  58,754,946.150
              муниципальный служащий               26,877,521.280
              пенсионер                           226,531,311.760
...                                                           ...
Среднее       сотрудник малого бизнеса             70,608,909.260
              сотрудники крупного бизнеса          40,169,840.690
              специалист                           29,397,662.960
              технический специалист                1,623,802.960
УченаяСтепень госслужащий                           1,920,239.860

                                                   term_indebtedness_body_loan  \
education     position
Высшее        военнослужащий                                     4,819,693.450
              госслужащий                                        9,012,853.140
              индивидуальный предприниматель (ип)               14,211,967.890
              муниципальный служащий                             8,657,148.520
              пенсионер                                         41,385,065.780
...                                                                        ...
Среднее       сотрудник малого бизнеса                          24,233,108.250
              сотрудники крупного бизнеса                       11,370,258.070
              специалист                                        10,643,513.560
              технический специалист                                96,139.020
УченаяСтепень госслужащий                                          364,010.970

                                                   term_indebtedness_interest  \
education     position
Высшее        военнослужащий                                      153,488.900
              госслужащий                                         208,975.210
              индивидуальный предприниматель (ип)                 220,174.360
              муниципальный служащий                              109,841.140
              пенсионер                                         1,255,870.620
...                                                                       ...
Среднее       сотрудник малого бизнеса                            412,258.270
              сотрудники крупного бизнеса                         159,175.560
              специалист                                          201,105.190
              технический специалист                                    0.010
УченаяСтепень госслужащий                                           3,900.330

                                                   term_indebtedness_other  \
education     position
Высшее        военнослужащий                                    80,571.380
              госслужащий                                       62,393.360
              индивидуальный предприниматель (ип)               70,410.670
              муниципальный служащий                             9,707.360
              пенсионер                                        387,333.560
...                                                                    ...
Среднее       сотрудник малого бизнеса                         313,604.510
              сотрудники крупного бизнеса                      692,347.270
              специалист                                        64,004.470
              технический специалист                                 0.000
УченаяСтепень госслужащий                                           11.460

                                                   overdue_indebtedness_interest  \
education     position
Высшее        военнослужащий                                         136,427.500
              госслужащий                                            440,426.210
              индивидуальный предприниматель (ип)                    383,451.910
              муниципальный служащий                                 115,071.920
              пенсионер                                            3,245,272.440
...                                                                          ...
Среднее       сотрудник малого бизнеса                             1,960,787.450
              сотрудники крупного бизнеса                            885,136.030
              специалист                                             444,209.000
              технический специалист                                       0.000
УченаяСтепень госслужащий                                                  0.000

                                                   overdue_indebtedness_other  \
education     position
Высшее        военнослужащий                                       51,810.940
              госслужащий                                          24,691.900
              индивидуальный предприниматель (ип)                  27,772.300
              муниципальный служащий                               16,752.970
              пенсионер                                           987,521.660
...                                                                       ...
Среднее       сотрудник малого бизнеса                            429,427.180
              сотрудники крупного бизнеса                          66,343.580
              специалист                                           76,307.910
              технический специалист                                    0.000
УченаяСтепень госслужащий                                               0.000

                                                   maximum_amount_overdue_indebtedness  \
education     position
Высшее        военнослужащий                                                     0.000
              госслужащий                                                1,965,201.340
              индивидуальный предприниматель (ип)                          147,113.520
              муниципальный служащий                                       515,772.340
              пенсионер                                                  4,602,148.590
...                                                                                ...
Среднее       сотрудник малого бизнеса                                   1,492,305.470
              сотрудники крупного бизнеса                                1,570,264.100
              специалист                                                   799,944.050
              технический специалист                                        99,514.520
УченаяСтепень госслужащий                                                        0.000

                                                   amount_principal_debt_repaid
education     position
Высшее        военнослужащий                                     19,542,423.370
              госслужащий                                        24,496,440.580
              индивидуальный предприниматель (ип)                44,328,712.480
              муниципальный служащий                             19,472,824.830
              пенсионер                                         152,556,744.280
...                                                                         ...
Среднее       сотрудник малого бизнеса                           48,662,093.780
              сотрудники крупного бизнеса                        28,527,100.190
              специалист                                         20,172,802.780
              технический специалист                              1,445,203.980
УченаяСтепень госслужащий                                         1,355,098.870

[90 rows x 10 columns]