<a href="https://colab.research.google.com/github/Mikhail-068/Scoring/blob/master/VolkovKA/Pandas_%D1%81%D0%BA%D0%BE%D1%80%D0%B8%D0%BD%D0%B3_Bad_%D0%BA%D0%BB%D0%B8%D0%B5%D0%BD%D1%82%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Загрузка модуля pandas
import pandas as pd

In [ ]:
# из библиотеки google.colab импортируем класс files
from google.colab import files

# создаем объект этого класса, применяем метод .upload()
uploaded = files.upload()

Saving BadClient.xlsx to BadClient.xlsx

In [ ]:
data = pd.read_excel("BadClient.xlsx", header=2)
dataB = data

In [ ]:
data

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
0,Санкт-Петербург,г. Санкт-Петербург,5383890,1991-12-05,Мужской,СреднеТехническое,работник промышленных предприятий,2021-01-16,42c79e91-580e-11eb-b807-3cfdfed12971,2021-01-14,...,NaN,0.0,NaT,МФО,0.0,2021-01-15,2021-01-15,NaN,0.0,0.0
1,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2020-04-17,...,NaN,0.0,NaT,Банк,0.0,2020-11-18,2020-11-01,NaN,0.0,0.0
2,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2020-08-21,...,NaN,0.0,NaT,Банк,0.0,2020-11-18,2020-11-01,NaN,0.0,0.0
3,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2018-12-10,...,NaN,0.0,NaT,Банк,0.0,2018-12-10,2020-11-10,NaN,0.0,0.0
4,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2020-11-04,...,NaN,0.0,NaT,МФО,0.0,2020-11-16,2020-11-05,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67558,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2014-09-02,...,NaN,0.0,NaT,Банк,0.0,2015-05-05,2015-06-02,NaN,0.0,0.0
67559,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2012-10-07,...,NaN,0.0,NaT,Банк,0.0,2013-07-08,2013-07-14,NaN,0.0,0.0
67560,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2012-08-01,...,NaN,0.0,NaT,Банк,0.0,2012-10-01,2012-10-05,NaN,0.0,0.0
67561,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2011-01-24,...,NaN,0.0,NaT,Банк,0.0,2011-04-25,2011-04-25,NaN,0.0,0.0
67562,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2011-04-08,...,NaN,0.0,NaT,Банк,0.0,2011-06-03,2012-08-26,NaN,0.0,0.0

In [ ]:
# count_row = data.shape[0]
# print("количество записей :")
# count_row
data.nunique()

region_name                               69
city_name                                674
population                               672
date of birth                           3960
gender                                     2
education                                  7
position                                  20
dt_nbki                                  927
id_nbki                                 4588
issued                                  5594
amount                                 12183
currency                                   2
type_credit                               16
status_credit                             12
period                                  7549
period_interest                         6867
psk                                    11051
balance                                27198
current_indebtedness                    9723
expired                                 4122
days_overdue                           12301
next_payment                            5357
last_payment                            4938
updated                                 3784
term_indebtedness_body_loan             6881
term_indebtedness_interest              2717
term_indebtedness_other                  942
overdue_indebtedness_body_loan          2641
overdue_indebtedness_interest           1579
overdue_indebtedness_other               784
actual_payments_24_Months               8927
volume_commitment                          2
amount_surety                            128
surety_period                            143
source_information                         8
maximum_amount_overdue_indebtedness     2821
date_credit_state                       4811
beginning_days_delinquency_counting     4526
type_debt                                  2
amount_principal_debt_repaid            4402
availability_support                       2
dtype: int64

In [ ]:
print("процент пучтых ячеек")
data.isna().sum() / data.shape[0]*100

процент пучтых ячеек

region_name                             0.000000
city_name                               0.000000
population                              0.000000
date of birth                           0.000000
gender                                  0.000000
education                               0.472152
position                                0.470672
dt_nbki                                 0.000000
id_nbki                                 0.000000
issued                                  0.553557
amount                                  0.553557
currency                                0.000000
type_credit                             0.704528
status_credit                           0.679366
period                                  1.480100
period_interest                        25.414798
psk                                     0.553557
balance                                 0.553557
current_indebtedness                    0.553557
expired                                 0.553557
days_overdue                           23.256812
next_payment                            0.553557
last_payment                            1.642911
updated                                 0.553557
term_indebtedness_body_loan             0.553557
term_indebtedness_interest              0.553557
term_indebtedness_other                 0.553557
overdue_indebtedness_body_loan          0.553557
overdue_indebtedness_interest           0.553557
overdue_indebtedness_other              0.553557
actual_payments_24_Months               0.553557
volume_commitment                      99.782425
amount_surety                           0.553557
surety_period                          99.773545
source_information                      0.553557
maximum_amount_overdue_indebtedness     0.553557
date_credit_state                       0.700087
beginning_days_delinquency_counting    24.914524
type_debt                              78.778325
amount_principal_debt_repaid            0.553557
availability_support                    0.553557
dtype: float64

In [ ]:
data.head()

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
0,Санкт-Петербург,г. Санкт-Петербург,5383890,1991-12-05,Мужской,СреднеТехническое,работник промышленных предприятий,2021-01-16,42c79e91-580e-11eb-b807-3cfdfed12971,2021-01-14,...,NaN,0.0,NaT,МФО,0.0,2021-01-15,2021-01-15,NaN,0.0,0.0
1,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2020-04-17,...,NaN,0.0,NaT,Банк,0.0,2020-11-18,2020-11-01,NaN,0.0,0.0
2,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2020-08-21,...,NaN,0.0,NaT,Банк,0.0,2020-11-18,2020-11-01,NaN,0.0,0.0
3,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2018-12-10,...,NaN,0.0,NaT,Банк,0.0,2018-12-10,2020-11-10,NaN,0.0,0.0
4,Ульяновская область,г. Димитровград,115253,1980-09-21,Мужской,Среднее,работник промышленных предприятий,2020-11-21,3ae2680a-2bfa-11eb-80c7-f4034344a6bd,2020-11-04,...,NaN,0.0,NaT,МФО,0.0,2020-11-16,2020-11-05,NaN,0.0,0.0

In [ ]:
data.tail()

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
67558,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2014-09-02,...,NaN,0.0,NaT,Банк,0.0,2015-05-05,2015-06-02,NaN,0.0,0.0
67559,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2012-10-07,...,NaN,0.0,NaT,Банк,0.0,2013-07-08,2013-07-14,NaN,0.0,0.0
67560,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2012-08-01,...,NaN,0.0,NaT,Банк,0.0,2012-10-01,2012-10-05,NaN,0.0,0.0
67561,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2011-01-24,...,NaN,0.0,NaT,Банк,0.0,2011-04-25,2011-04-25,NaN,0.0,0.0
67562,Ставропольский край,г. Невинномысск,116884,1946-09-15,Женский,СреднеТехническое,пенсионер,2020-10-30,392179ad-1ab6-11eb-80c7-f4034344a6bd,2011-04-08,...,NaN,0.0,NaT,Банк,0.0,2011-06-03,2012-08-26,NaN,0.0,0.0

In [ ]:
data.isna().sum().sum()
proc = data.isna().sum().sum() / data.size
print("общий процент пустых ячеек")
print('{:.1%}'.format(proc))

общий процент пустых ячеек
9.0%

### Описательные статистики

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67563 entries, 0 to 67562
Data columns (total 41 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   region_name                          67563 non-null  object
 1   city_name                            67563 non-null  object
 2   population                           67563 non-null  int64
 3   date of birth                        67563 non-null  datetime64[ns]
 4   gender                               67563 non-null  object
 5   education                            67244 non-null  object
 6   position                             67245 non-null  object
 7   dt_nbki                              67563 non-null  datetime64[ns]
 8   id_nbki                              67563 non-null  object
 9   issued                               67189 non-null  datetime64[ns]
 10  amount                               67189 non-null  float64
 11  currency                             67563 non-null  object
 12  type_credit                          67087 non-null  object
 13  status_credit                        67104 non-null  object
 14  period                               66563 non-null  object
 15  period_interest                      50392 non-null  datetime64[ns]
 16  psk                                  67189 non-null  float64
 17  balance                              67189 non-null  float64
 18  current_indebtedness                 67189 non-null  float64
 19  expired                              67189 non-null  float64
 20  days_overdue                         51850 non-null  object
 21  next_payment                         67189 non-null  float64
 22  last_payment                         66453 non-null  datetime64[ns]
 23  updated                              67189 non-null  datetime64[ns]
 24  term_indebtedness_body_loan          67189 non-null  float64
 25  term_indebtedness_interest           67189 non-null  float64
 26  term_indebtedness_other              67189 non-null  float64
 27  overdue_indebtedness_body_loan       67189 non-null  float64
 28  overdue_indebtedness_interest        67189 non-null  float64
 29  overdue_indebtedness_other           67189 non-null  float64
 30  actual_payments_24_Months            67189 non-null  float64
 31  volume_commitment                    147 non-null    object
 32  amount_surety                        67189 non-null  float64
 33  surety_period                        153 non-null    datetime64[ns]
 34  source_information                   67189 non-null  object
 35  maximum_amount_overdue_indebtedness  67189 non-null  float64
 36  date_credit_state                    67090 non-null  datetime64[ns]
 37  beginning_days_delinquency_counting  50730 non-null  datetime64[ns]
 38  type_debt                            14338 non-null  object
 39  amount_principal_debt_repaid         67189 non-null  float64
 40  availability_support                 67189 non-null  float64
dtypes: datetime64[ns](9), float64(17), int64(1), object(14)
memory usage: 21.1+ MB

In [ ]:
data.describe()

,population,amount,psk,balance,current_indebtedness,expired,next_payment,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_body_loan,overdue_indebtedness_interest,overdue_indebtedness_other,actual_payments_24_Months,amount_surety,maximum_amount_overdue_indebtedness,amount_principal_debt_repaid,availability_support
count,6.756300e+04,6.718900e+04,6.718900e+04,6.718900e+04,6.718900e+04,6.718900e+04,6.718900e+04,6.718900e+04,67189.000000,6.718900e+04,6.718900e+04,67189.000000,6.718900e+04,6.718900e+04,6.718900e+04,6.718900e+04,6.718900e+04,67189.000000
mean,3.249353e+05,3.591734e+04,3.850126e+02,4.177295e+04,1.220512e+04,2.929127e+03,2.218705e+03,1.021094e+04,270.367170,1.020398e+02,1.796609e+03,281.694591,1.282590e+02,7.637826e+03,1.249232e+03,1.464320e+03,7.033548e+03,0.011103
std,7.232128e+05,1.381645e+05,9.069856e+03,9.989535e+05,8.805972e+04,3.378885e+04,3.250224e+04,7.921287e+04,3528.047559,5.176875e+03,2.748417e+04,5093.516632,1.204439e+04,5.897835e+04,5.359176e+04,2.312710e+04,1.651662e+05,0.104785
min,4.271000e+03,0.000000e+00,-3.251000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,3.719700e+04,5.000000e+03,2.389300e+01,1.300000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
50%,1.053840e+05,1.000000e+04,3.560000e+02,8.050000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
75%,3.153110e+05,2.004000e+04,3.650000e+02,2.068900e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
max,5.383890e+06,8.000000e+06,1.939059e+06,2.483119e+08,7.300431e+06,3.305708e+06,7.492321e+06,6.964782e+06,679873.000000,1.233490e+06,2.541982e+06,421542.000000,2.631099e+06,8.998162e+06,9.056736e+06,3.439300e+06,3.893566e+07,1.000000

In [ ]:
data.describe(include=['O'])

,region_name,city_name,gender,education,position,id_nbki,currency,type_credit,status_credit,period,days_overdue,volume_commitment,source_information,type_debt
count,67563,67563,67563,67244,67245,67563,67563,67087,67104,66563,51850,147,67189,14338
unique,69,674,2,7,20,4588,2,16,12,7549,12301,2,8,2
top,Краснодарский край,г. Северодвинск,Мужской,СреднеТехническое,рабочий,6f727464-222e-11ed-b80c-3cfdfed12971,RUB,Микрокредит,СчетЗакрыт,2100-01-01 00:00:00,1,Полностью,МФО,ПоОсновномуДолгу
freq,3767,2607,37437,27576,16635,1376,67561,45465,40611,981,8756,139,45712,14274

In [ ]:
# Отбор данных столбца period
# data['issued'].dtype
# data['issued'] > '2024-01-01'
# len(data[data['issued'] > '2024-01-01'])

# среднее значение кредитов по городам
df_groupby = data.groupby(['region_name', 'city_name']).agg('mean')
df_groupby1 = df_groupby[["amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupby1

<ipython-input-14-f4949e262b82>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupby = data.groupby(['region_name', 'city_name']).agg('mean')

                                              amount         psk  \
region_name         city_name
Адыгея республика   г.Майкоп            26476.157660  352.233516
Алтайский край      г.  Алтайское       21556.546667  163.816867
                    г.  Горно-Алтайск   18324.074074  261.352259
                    г.  Заринск         29150.710971  401.337233
                    г.  Яровое           4666.666667  225.083333
...                                              ...         ...
Ярославская область г. Петровское      169572.000000   16.605100
                    г. Ростов           39635.574468   78.512191
                    г. Рыбинск          51422.816768  260.684951
                    г. Углич            21734.250000   20.325000
                    г.Тутаев            17043.153165  368.876759

                                             balance  \
region_name         city_name
Адыгея республика   г.Майкоп            34624.929601
Алтайский край      г.  Алтайское        8872.836667
                    г.  Горно-Алтайск   11283.814815
                    г.  Заринск         18775.334320
                    г.  Яровое              0.000000
...                                              ...
Ярославская область г. Петровское      121113.300000
                    г. Ростов           82353.468085
                    г. Рыбинск          66857.478537
                    г. Углич              714.500000
                    г.Тутаев            11041.108418

                                       term_indebtedness_body_loan  \
region_name         city_name
Адыгея республика   г.Майкоп                           6289.353191
Алтайский край      г.  Алтайское                      6971.534667
                    г.  Горно-Алтайск                 13297.407407
                    г.  Заринск                        7375.035825
                    г.  Яровое                            0.000000
...                                                            ...
Ярославская область г. Петровское                     66220.100000
                    г. Ростов                          2441.765957
                    г. Рыбинск                         8518.508415
                    г. Углич                           3088.750000
                    г.Тутаев                           3624.934968

                                       term_indebtedness_interest  \
region_name         city_name
Адыгея республика   г.Майкоп                             7.136250
Алтайский край      г.  Алтайское                        0.000000
                    г.  Горно-Алтайск                  922.444444
                    г.  Заринск                        125.834951
                    г.  Яровое                           0.000000
...                                                           ...
Ярославская область г. Петровское                        4.500000
                    г. Ростов                          470.723404
                    г. Рыбинск                         533.347561
                    г. Углич                             2.250000
                    г.Тутаев                           244.803797

                                       term_indebtedness_other  \
region_name         city_name
Адыгея республика   г.Майкоп                         25.066543
Алтайский край      г.  Алтайское                     6.932000
                    г.  Горно-Алтайск                 0.814815
                    г.  Заринск                       2.655340
                    г.  Яровое                        0.000000
...                                                        ...
Ярославская область г. Петровское                    31.200000
                    г. Ростов                        62.085106
                    г. Рыбинск                      655.914634
                    г. Углич                          0.000000
                    г.Тутаев                          6.525316

                                       overdue_indebtedness_interest  \
region_name         city_name
Адыгея республика   г.Майкоп                                5.443404
Алтайский край      г.  Алтайское                           0.000000
                    г.  Горно-Алтайск                     198.074074
                    г.  Заринск                           278.271845
                    г.  Яровое                              0.000000
...                                                              ...
Ярославская область г. Петровское                         311.700000
                    г. Ростов                             990.531915
                    г. Рыбинск                            351.725610
                    г. Углич                                0.000000
                    г.Тутаев                               78.547468

                                       overdue_indebtedness_other  \
region_name         city_name
Адыгея республика   г.Майкоп                             0.695133
Алтайский край      г.  Алтайское                        0.000000
                    г.  Горно-Алтайск                   10.333333
                    г.  Заринск                         78.640777
                    г.  Яровое                           0.000000
...                                                           ...
Ярославская область г. Петровское                        0.000000
                    г. Ростов                          383.808511
                    г. Рыбинск                        1115.817073
                    г. Углич                             0.000000
                    г.Тутаев                             8.924051

                                       maximum_amount_overdue_indebtedness  \
region_name         city_name
Адыгея республика   г.Майкоп                                   2346.721755
Алтайский край      г.  Алтайское                              9527.450000
                    г.  Горно-Алтайск                             0.000000
                    г.  Заринск                                1383.168447
                    г.  Яровое                                    0.000000
...                                                                    ...
Ярославская область г. Петровское                                 0.000000
                    г. Ростов                                     0.000000
                    г. Рыбинск                                 1008.333232
                    г. Углич                                      0.000000
                    г.Тутаев                                   2343.714272

                                       amount_principal_debt_repaid
region_name         city_name
Адыгея республика   г.Майкоп                           24100.736941
Алтайский край      г.  Алтайское                       4918.434000
                    г.  Горно-Алтайск                      0.000000
                    г.  Заринск                         6090.270825
                    г.  Яровое                             0.000000
...                                                             ...
Ярославская область г. Петровское                          0.000000
                    г. Ростов                              0.000000
                    г. Рыбинск                          1817.970366
                    г. Углич                               0.000000
                    г.Тутаев                            1833.429937

[675 rows x 10 columns]

In [ ]:
#10 город в списке
# mask = df_groupby['city_name'] == 'г.  Нижний Новгород'
# temp = df_groupby1[mask]
# temp

In [ ]:
# "date of birth", "gender", "education", "position",

print("Группировка данных по пользователям среднее значенние")
df_groupbyManMean = data.groupby(['id_nbki']).agg('mean')
df_groupbyManMean = df_groupbyManMean[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyManMean

Группировка данных по пользователям среднее значенние

<ipython-input-16-250433421bc9>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyManMean = data.groupby(['id_nbki']).agg('mean')

,amount,psk,balance,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_interest,overdue_indebtedness_other,maximum_amount_overdue_indebtedness,amount_principal_debt_repaid
id_nbki,,,,,,,,,,
000236f5-8832-11ed-80cf-f4034344a6bd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000b10f1-28f7-11ed-b80c-3cfdfed12971,0.000000,0.000000,43386.050000,0.000000,0.000000,0.0,0.00,0.00,38303.950000,38303.950000
002c2ce2-e938-11eb-b808-3cfdfed12971,1500.250000,97.175000,677.750000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000
0033221a-ba3c-11eb-b808-3cfdfed12971,58661.894737,55.994474,41512.842105,10800.947368,55.473684,0.0,0.00,0.00,0.000000,0.000000
003807db-823f-11eb-80cc-f4034344a6bd,24385.500000,0.000000,23950.500000,0.000000,0.000000,0.0,0.00,0.00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
ffa4105c-883e-11ed-b80d-3cfdfed12971,2749.775000,189.825000,523.635000,1250.000000,0.000000,0.0,387.09,37.25,0.000000,425.297500
ffb83bdf-6988-11ed-80cf-f4034344a6bd,11597.142727,104.820818,10606.604545,727.272727,0.000000,0.0,0.00,0.00,6254.828182,8904.834545
ffce270f-1e2f-11ed-b80c-3cfdfed12971,27936.174000,88.271000,14738.896000,24083.826000,0.000000,0.0,0.00,0.00,0.000000,11670.136000
ffe1336d-f688-11ea-80c3-f4034344a6bf,7234.428571,171.424857,13886.142857,285.714286,205.714286,0.0,0.00,0.00,0.000000,0.000000
ffe722a5-7f54-11ec-b80c-3cfdfed12971,33301.375000,207.520875,17909.625000,27160.500000,1068.875000,0.0,0.00,0.00,0.000000,0.000000

In [ ]:
print("Группировка данных по пользователям сумма кредитов")
df_groupbyManSum = data.groupby(['id_nbki']).agg('sum')
df_groupbyManSum = df_groupbyManSum[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyManSum

Группировка данных по пользователям сумма кредитов

<ipython-input-17-43b09d652a3e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyManSum = data.groupby(['id_nbki']).agg('sum')

,amount,psk,balance,term_indebtedness_body_loan,term_indebtedness_interest,term_indebtedness_other,overdue_indebtedness_interest,overdue_indebtedness_other,maximum_amount_overdue_indebtedness,amount_principal_debt_repaid
id_nbki,,,,,,,,,,
000236f5-8832-11ed-80cf-f4034344a6bd,0.00,0.000,0.00,0.00,0.0,0.0,0.00,0.0,0.00,0.00
000b10f1-28f7-11ed-b80c-3cfdfed12971,0.00,0.000,43386.05,0.00,0.0,0.0,0.00,0.0,38303.95,38303.95
002c2ce2-e938-11eb-b808-3cfdfed12971,6001.00,388.700,2711.00,0.00,0.0,0.0,0.00,0.0,0.00,0.00
0033221a-ba3c-11eb-b808-3cfdfed12971,1114576.00,1063.895,788744.00,205218.00,1054.0,0.0,0.00,0.0,0.00,0.00
003807db-823f-11eb-80cc-f4034344a6bd,48771.00,0.000,47901.00,0.00,0.0,0.0,0.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...
ffa4105c-883e-11ed-b80d-3cfdfed12971,10999.10,759.300,2094.54,5000.00,0.0,0.0,1548.36,149.0,0.00,1701.19
ffb83bdf-6988-11ed-80cf-f4034344a6bd,127568.57,1153.029,116672.65,8000.00,0.0,0.0,0.00,0.0,68803.11,97953.18
ffce270f-1e2f-11ed-b80c-3cfdfed12971,139680.87,441.355,73694.48,120419.13,0.0,0.0,0.00,0.0,0.00,58350.68
ffe1336d-f688-11ea-80c3-f4034344a6bf,50641.00,1199.974,97203.00,2000.00,1440.0,0.0,0.00,0.0,0.00,0.00
ffe722a5-7f54-11ec-b80c-3cfdfed12971,266411.00,1660.167,143277.00,217284.00,8551.0,0.0,0.00,0.0,0.00,0.00

In [ ]:
print("Группировка данных по Образованию и должности средние значения")
df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('mean')
df_groupbyEdnPosMean = df_groupbyEdnPosMean[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyEdnPosMean

Группировка данных по Образованию и должности средние значения

<ipython-input-18-676319ab7ec7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('mean')

                                                          amount         psk  \
education     position
Высшее        военнослужащий                        25376.443093  366.611294
              госслужащий                           26893.337825  347.322239
              индивидуальный предприниматель (ип)  110151.589889  455.390145
              муниципальный служащий                32978.859379  298.281983
              пенсионер                             54052.801128  361.032594
...                                                          ...         ...
Среднее       сотрудник малого бизнеса              36070.584393  487.597402
              сотрудники крупного бизнеса           20844.214885  287.143398
              специалист                            36629.409309  250.052380
              технический специалист                27577.431034  255.717310
УченаяСтепень пенсионер                             82122.900571   99.520514

                                                         balance  \
education     position
Высшее        военнослужащий                        30330.139542
              госслужащий                           33008.743943
              индивидуальный предприниматель (ип)  118733.290673
              муниципальный служащий                41175.795266
              пенсионер                             73219.946409
...                                                          ...
Среднее       сотрудник малого бизнеса              33004.397591
              сотрудники крупного бизнеса           18708.856322
              специалист                            29469.649189
              технический специалист                28867.151552
УченаяСтепень пенсионер                             70578.854286

                                                   term_indebtedness_body_loan  \
education     position
Высшее        военнослужащий                                       6226.179336
              госслужащий                                          6658.246021
              индивидуальный предприниматель (ип)                 26452.227544
              муниципальный служащий                               9994.800904
              пенсионер                                           13448.555741
...                                                                        ...
Среднее       сотрудник малого бизнеса                            10067.136458
              сотрудники крупного бизнеса                          5156.854343
              специалист                                          12315.159507
              технический специалист                               7828.620690
УченаяСтепень пенсионер                                           20813.779143

                                                   term_indebtedness_interest  \
education     position
Высшее        военнослужащий                                       320.541810
              госслужащий                                          294.545535
              индивидуальный предприниматель (ип)                  323.425969
              муниципальный служащий                               284.822599
              пенсионер                                            404.393107
...                                                                       ...
Среднее       сотрудник малого бизнеса                             305.547228
              сотрудники крупного бизнеса                          181.556026
              специалист                                           261.574057
              технический специалист                                 9.775862
УченаяСтепень пенсионер                                              0.000000

                                                   term_indebtedness_other  \
education     position
Высшее        военнослужащий                                     52.693013
              госслужащий                                        67.708223
              индивидуальный предприниматель (ип)               121.413454
              муниципальный служащий                             31.988701
              пенсионер                                          77.995275
...                                                                    ...
Среднее       сотрудник малого бизнеса                           75.040368
              сотрудники крупного бизнеса                        38.254729
              специалист                                        310.123684
              технический специалист                             17.982759
УченаяСтепень пенсионер                                           0.000000

                                                   overdue_indebtedness_interest  \
education     position
Высшее        военнослужащий                                          229.374570
              госслужащий                                             484.196286
              индивидуальный предприниматель (ип)                     883.526391
              муниципальный служащий                                  195.710554
              пенсионер                                               160.089545
...                                                                          ...
Среднее       сотрудник малого бизнеса                                201.414723
              сотрудники крупного бизнеса                             169.244852
              специалист                                              157.281798
              технический специалист                                  262.741379
УченаяСтепень пенсионер                                                 0.000000

                                                   overdue_indebtedness_other  \
education     position
Высшее        военнослужащий                                        76.884307
              госслужащий                                           32.135279
              индивидуальный предприниматель (ип)                   73.212885
              муниципальный служащий                                10.488056
              пенсионер                                             61.909628
...                                                                       ...
Среднее       сотрудник малого бизнеса                              51.255961
              сотрудники крупного бизнеса                           29.909688
              специалист                                            86.782895
              технический специалист                                17.655172
УченаяСтепень пенсионер                                              0.000000

                                                   maximum_amount_overdue_indebtedness  \
education     position
Высшее        военнослужащий                                                560.749210
              госслужащий                                                   686.969072
              индивидуальный предприниматель (ип)                           862.000000
              муниципальный служащий                                        104.697141
              пенсионер                                                    1914.041099
...                                                                                ...
Среднее       сотрудник малого бизнеса                                      694.507151
              сотрудники крупного бизнеса                                  1516.701880
              специалист                                                    389.074353
              технический специалист                                        155.166207
УченаяСтепень пенсионер                                                      49.876857

                                                   amount_principal_debt_repaid
education     position
Высшее        военнослужащий                                         920.072978
              госслужащий                                           3181.261264
              индивидуальный предприниматель (ип)                  12726.774364
              муниципальный служащий                                9636.652678
              пенсионер                                            11198.509864
...                                                                         ...
Среднее       сотрудник малого бизнеса                              5062.051381
              сотрудники крупного бизнеса                           3360.327135
              специалист                                            4607.290515
              технический специалист                                   4.789483
УченаяСтепень пенсионер                                            20217.419714

[99 rows x 10 columns]

In [ ]:
#для вывода в формате бе е-7
pd.options.display.float_format ='{:,.3f}'.format

print("Группировка данных по Образованию и должности общие")
df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('sum')
df_groupbyEdnPosMean = df_groupbyEdnPosMean[[
                              "amount", "psk", "balance", "term_indebtedness_body_loan", "term_indebtedness_interest", "term_indebtedness_other",
            "overdue_indebtedness_interest", "overdue_indebtedness_other", "maximum_amount_overdue_indebtedness", "amount_principal_debt_repaid"]]
df_groupbyEdnPosMean

Группировка данных по Образованию и должности общие

<ipython-input-19-07bf257fca05>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupbyEdnPosMean = data.groupby(['education', 'position']).agg('sum')

                                                           amount  \
education     position
Высшее        военнослужащий                       22,153,634.820
              госслужащий                          30,416,365.080
              индивидуальный предприниматель (ип) 148,924,949.530
              муниципальный служащий               29,186,290.550
              пенсионер                            91,511,392.310
...                                                           ...
Среднее       сотрудник малого бизнеса             75,459,662.550
              сотрудники крупного бизнеса          25,388,253.730
              специалист                           33,406,021.290
              технический специалист                1,599,491.000
УченаяСтепень пенсионер                             2,874,301.520

                                                            psk  \
education     position
Высшее        военнослужащий                        320,051.660
              госслужащий                           392,821.452
              индивидуальный предприниматель (ип)   615,687.476
              муниципальный служащий                263,979.555
              пенсионер                             611,228.182
...                                                         ...
Среднее       сотрудник малого бизнеса            1,020,053.766
              сотрудники крупного бизнеса           349,740.659
              специалист                            228,047.771
              технический специалист                 14,831.604
УченаяСтепень пенсионер                               3,483.218

                                                          balance  \
education     position
Высшее        военнослужащий                       26,478,211.820
              госслужащий                          37,332,889.400
              индивидуальный предприниматель (ип) 160,527,408.990
              муниципальный служащий               36,440,578.810
              пенсионер                           123,961,369.270
...                                                           ...
Среднее       сотрудник малого бизнеса             69,045,199.760
              сотрудники крупного бизнеса          22,787,387.000
              специалист                           26,876,320.060
              технический специалист                1,674,294.790
УченаяСтепень пенсионер                             2,470,259.900

                                                   term_indebtedness_body_loan  \
education     position
Высшее        военнослужащий                                     5,435,454.560
              госслужащий                                        7,530,476.250
              индивидуальный предприниматель (ип)               35,763,411.640
              муниципальный служащий                             8,845,398.800
              пенсионер                                         22,768,404.870
...                                                                        ...
Среднее       сотрудник малого бизнеса                          21,060,449.470
              сотрудники крупного бизнеса                        6,281,048.590
              специалист                                        11,231,425.470
              технический специалист                               454,060.000
УченаяСтепень пенсионер                                            728,482.270

                                                   term_indebtedness_interest  \
education     position
Высшее        военнослужащий                                      279,833.000
              госслужащий                                         333,131.000
              индивидуальный предприниматель (ип)                 437,271.910
              муниципальный служащий                              252,068.000
              пенсионер                                           684,637.530
...                                                                       ...
Среднее       сотрудник малого бизнеса                            639,204.800
              сотрудники крупного бизнеса                         221,135.240
              специалист                                          238,555.540
              технический специалист                                  567.000
УченаяСтепень пенсионер                                                 0.000

                                                   term_indebtedness_other  \
education     position
Высшее        военнослужащий                                    46,001.000
              госслужащий                                       76,578.000
              индивидуальный предприниматель (ип)              164,150.990
              муниципальный служащий                            28,310.000
              пенсионер                                        132,046.000
...                                                                    ...
Среднее       сотрудник малого бизнеса                         156,984.450
              сотрудники крупного бизнеса                       46,594.260
              специалист                                       282,832.800
              технический специалист                             1,043.000
УченаяСтепень пенсионер                                              0.000

                                                   overdue_indebtedness_interest  \
education     position
Высшее        военнослужащий                                         200,244.000
              госслужащий                                            547,626.000
              индивидуальный предприниматель (ип)                  1,194,527.680
              муниципальный служащий                                 173,203.840
              пенсионер                                              271,031.600
...                                                                          ...
Среднее       сотрудник малого бизнеса                               421,359.600
              сотрудники крупного бизнеса                            206,140.230
              специалист                                             143,441.000
              технический специалист                                  15,239.000
УченаяСтепень пенсионер                                                    0.000

                                                   overdue_indebtedness_other  \
education     position
Высшее        военнослужащий                                       67,120.000
              госслужащий                                          36,345.000
              индивидуальный предприниматель (ип)                  98,983.820
              муниципальный служащий                                9,281.930
              пенсионер                                           104,813.000
...                                                                       ...
Среднее       сотрудник малого бизнеса                            107,227.470
              сотрудники крупного бизнеса                          36,430.000
              специалист                                           79,146.000
              технический специалист                                1,024.000
УченаяСтепень пенсионер                                                 0.000

                                                   maximum_amount_overdue_indebtedness  \
education     position
Высшее        военнослужащий                                               489,534.060
              госслужащий                                                  776,962.020
              индивидуальный предприниматель (ип)                        1,165,424.000
              муниципальный служащий                                        92,656.970
              пенсионер                                                  3,240,471.580
...                                                                                ...
Среднее       сотрудник малого бизнеса                                   1,452,908.960
              сотрудники крупного бизнеса                                1,847,342.890
              специалист                                                   354,835.810
              технический специалист                                         8,999.640
УченаяСтепень пенсионер                                                      1,745.690

                                                   amount_principal_debt_repaid
education     position
Высшее        военнослужащий                                        803,223.710
              госслужащий                                         3,598,006.490
              индивидуальный предприниматель (ип)                17,206,598.940
              муниципальный служащий                              8,528,437.620
              пенсионер                                          18,959,077.200
...                                                                         ...
Среднее       сотрудник малого бизнеса                           10,589,811.490
              сотрудники крупного бизнеса                         4,092,878.450
              специалист                                          4,201,848.950
              технический специалист                                    277.790
УченаяСтепень пенсионер                                             707,609.690

[99 rows x 10 columns]